pip==24.0
matplotlib==3.8.3
pillow==10.2.0
pandas==2.2.1
numpy==1.26.4
toml==0.10.2
seaborn==0.13.2
wordcloud==1.9.3
language-data==1.1
tqdm==4.66.2
thinc==8.2.3
spacy==3.7.4
stringcase==1.2.0
ipykernel==6.29.3
pydantic==2.6.3
spacy_langdetect==0.1.2
pyarrow==15.0.2