matplotlib==3.8.2
pillow==10.2.0
pandas==1.4.3
numpy==1.26.4
toml==0.10.2
seaborn==0.11.2
wordcloud==1.9.3
language-data==1.1
tqdm==4.66.1
thinc==8.2.2
spacy==3.7.3
stringcase==1.2.0
ipykernel==6.29.2
pydantic==2.6.1
spacy_langdetect==0.1.2